
@{
    ViewBag.Title = "Create";
}

<h2>Create Product</h2>
<form id="CreateProduct">
    <label>Name</label>
    <input name="Name" />
    <br />

    <label>Description</label>
    <input name="Description" />
    <br />

    <label>Price</label>
    <input name="Price" />
    <br />

    <button id="btnSave" type="button">Save</button>
</form>

<script>
    $("#btnSave").click(function () {
        $.ajax({
            type:'POST',
            url: '/Product/Create',
            data: $("#CreateProduct").serialize()
            
        })
            .done(function (response) {
                $("#tableContainer").html(response);
                $("#actionContainer").html("");
            })
            .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                alert("Fail");
            });
    });
</script>


